/* @import url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff2"); */

:root {
    /* Colors */
    --color-primary: #ffdb4d;
    --color-secondary: #006aff;
    --color-white: #ffffff;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e5e5e5;
    --color-gray-300: #d4d4d4;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #737373;
    --color-red: #f8604a;
    --color-black: #000000;

    /* Typography */
    --font-size-m: 1rem;
    --font-size-s: 0.875rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 2rem;
    --line-height-m: 1.6;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;

    /* Border radius */
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;

    /* Shodows */
    --shadow-s: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: var(--line-height-m);
    background-color: var(--color-gray-100);
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
    font-size: var(--font-size-m);
}

input:focus,
textarea:focus {
    outline: none;
}
